
.label {
  display: flex;
  flex-direction: column;
  gap: 4px;

  position: relative;

  font-size: 18px;
}

.input {
  width: 100%;
  padding: 8px;

  background-color: var(--color-background);
  border-radius: 4px;

  &:focus {
    & + .icon {
      display: none;
    }
  }
}

.icon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

}