.dropdown {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  padding: 16px 0;

  background-color: var(--color-grey);
  border-radius: 10px;
}
.item{
  padding: 8px 16px;
  cursor: pointer;
  &:hover{
    background-color: var(--color-secondary);
  }
}